$black: #000000;
$white: #ffffff;

$gray-collection: (
    300: #f2f2f7,
    500: #bebec1,
    700: #4e4e4e,
    900: #1e1e1e,
);

$yellow-collection: (
    300: #fef3ec,
    500: #ffdead,
    700: #fba522,
);

$green-collection: (
    300: #eeffa6,
    500: #698300,
);

$blue-collection: (
    300: #bfcdff,
    500: #4b5c9a,
);

$red-collection: (
    300: #fa8072,
    500: #b02a2a,
);
