$title: (
    h1: 3rem,
    h2: 2rem,
    h3: none,
    h4: none,
    h5: none,
    h6: none,
);

$paragraph: (
    light: 1rem,
    regular: 1rem,
    bold: 1rem,
);

$input: (
    label: 1rem,
    input: 1rem,
    placeholder: 1rem,
);

$info-input: (
    info: 1rem,
    validate: 1rem,
    warning: 1rem,
    error: 1rem,
);

$button: (
    create: 1rem,
    read: 1rem,
    upload: 1rem,
    delete: 1rem,
);
